/* Source: https://bearblog.dev/dashboard/customise/ */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Focus behaviour */
:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: var(--color-primary);
  --outline-offset: 3px;
}
:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}
:is(a, button, input, textarea, summary):hover {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* Settings */
:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size-step--2: clamp(0.6944rem, 0.6856rem + 0.0444vi, 0.72rem);
  --size-step--1: clamp(0.8333rem, 0.8101rem + 0.1159vi, 0.9rem);
  --size-step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --size-step-1: clamp(1.2rem, 1.1283rem + 0.3587vi, 1.4063rem);
  --size-step-2: clamp(1.44rem, 1.3295rem + 0.5527vi, 1.7578rem);
  --size-step-3: clamp(1.728rem, 1.5648rem + 0.8161vi, 2.1973rem);
  --size-step-4: clamp(2.0736rem, 1.8395rem + 1.1704vi, 2.7466rem);
  --size-step-5: clamp(2.4883rem, 2.1597rem + 1.6433vi, 3.4332rem);

  --color-accent: salmon;
  --color-background: #fff;
  --color-code-background: #ddd;
  --color-code: #000;
  --color-dark-alt: #222;
  --color-dark: #1a1a1a;
  --color-heading: #222;
  --color-light-alt: #f2f2f2;
  --color-light: #fafafa;
  --color-link: #3273dc;
  --color-primary: #1a8fe3;
  --color-text: #444;

  --font-main: Verdana, sans-serif;
  --font-stack: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  --page-width: 100ch;
  --spacing: 1.5rem;
  --visited-color: #8b6fcb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2f2f2f;
    --color-code-background: #000;
    --color-code: #ddd;
    --color-heading: #eee;
    --color-link: #8cc2dd;
    --color-text: #ddd;
  }
}

body {
  font-family: var(--font-stack);
  font-size: var(--size-step-0);
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-light);
  background: var(--color-background);
  max-width: var(--page-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--color-heading);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

strong,
b {
  color: var(--color-heading);
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

code {
  font-family: monospace;
  padding: 2px;
  background-color: var(--color-code-background);
  color: var(--color-code);
  border-radius: 3px;
}

blockquote {
  border-left: 1px solid #999;
  color: var(--color-code);
  padding-left: 20px;
  font-style: italic;
}

.inline {
  width: auto !important;
}

.highlight,
.code {
  padding: 1px 15px;
  background-color: var(--color-code-background);
  color: var(--color-code);
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}

.title-bear {
  font-weight: 400;
}

@keyframes blink {
  0%,
  96% {
    content: "ᕦʕ •ᴥ•ʔᕤ";
  }

  97%,
  100% {
    content: "ᕦʕ -ᴥ-ʔᕤ";
  }
}

.bear::before {
  content: "ᕦʕ •ᴥ•ʔᕤ";
  font-weight: 400;
  animation: blink 5s infinite;
}

.bear:hover::before {
  content: "ᕙʕ ಠᴥಠʔᕗ";
  animation: none;
}

.upgrade .bear::before {
  content: "ᕦʕ.•ᴥ•ʔᕤ";
  font-weight: 400;
}

.upgrade:hover .bear::before {
  content: "ᕙʕ.ಠᴥಠʔᕗ";
}

.account:hover {
  outline: none;
  outline-offset: var(--outline-offset, var(--outline-size));
}

.account::before {
  content: "ʕ-ᴥ-ʔ";
  width: 45px;
  display: inline-block;
  text-align: center;
}

.account:hover::before {
  content: "ʕ•ᴥ•ʔ";
  text-decoration: none;
}

label {
  font-weight: bold;
}

time {
  font-family: monospace;
  font-size: var(--size-step--1);
}

textarea,
input:not([type="submit"]),
.editable {
  background-color: #eceff4;
  border: none;
  line-height: 1.5;
  font-size: var(--size-step-0);
  padding: calc($spacing / 2) $spacing;
}

@media (prefers-color-scheme: dark) {
  textarea,
  input:not([type="submit"]),
  .editable {
    background-color: var(--color-code-background);
  }
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"], [type="radio"]) {
  width: calc(100% - 20px);
}

textarea:required,
input:required:not([type="submit"]) {
  border-left: 1px solid #f99f9f;
  max-width: 100% !important;
  padding-inline: calc($spacing / 2);
}

input[type="checkbox"],
input[type="radio"] {
  height: 15px;
  margin-right: 10px;
}

button {
  background-color: #eceff4;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: calc($spacing / 2) auto;
  margin-right: calc($spacing / 2);
  padding: 0.5rem 0.75rem;
}
button:hover {
  background: var(--color-accent);
}
button.floating {
  position: fixed;
  bottom: 20px;
  right: 25px;
}
button#toggle-full-screen {
  float: right;
}

.sticky-controls {
  position: sticky;
  top: 0;
  background-color: white;
  line-height: 0;
  z-index: 10;
}

.helptext {
  display: flex;
  justify-content: space-evenly;
  color: #777;
  font-size: small;
}

.helptext.sticky {
  position: relative;
  bottom: 0;
  background-color: white;
  padding: 3px 0;
}

@media (prefers-color-scheme: dark) {
  .helptext.sticky,
  .sticky-controls {
    background-color: var(--color-background);
  }
}

.errorlist {
  color: #eba613;
  font-size: small;
}

#date-range {
  display: none;
}

#date-range:target {
  display: block;
}

.notification {
  width: 100%;
  text-align: left;
  padding: 5px 0;
  margin-bottom: -15px;
}

.notification a {
  margin: 0;
}

/* dashboard post list and analytics */
ul.post-list {
  list-style-type: none;
  padding: unset;
}

ul.post-list li {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
  border-bottom: 1px solid #eceff4;
}

ul.post-list li span {
  flex: 0 0 130px;
}

ul.post-list li span.number {
  flex: 0 0 50px;
}

ul.post-list li a {
  flex: max-content;
}

ul.post-list li small {
  text-align: right;
  flex: 0 0 115px;
}

/* discovery feed */
ul.discover-posts {
  list-style-type: none;
  padding: unset;
}

ul.discover-posts li {
  display: flex;
  line-height: 1.2;
  position: relative;
}

ul.discover-posts li span {
  flex: 0 0 40px;
}

ul.discover-posts li a:visited {
  color: #8b6fcb;
}

ul.discover-posts li div {
  padding-bottom: 8px;
}

ul.discover-posts li small span,
ul.discover-posts li small span a {
  color: #777 !important;
}

@media (prefers-color-scheme: dark) {
  .helptext {
    color: #aaa;
  }
}

summary {
  border-radius: 0.3rem;
  padding-inline: 1rem;
  margin-inline: 0;
  font-size: var(--size-step-0);
}
summary:hover {
  cursor: pointer;
}
details[open] > summary {
  border-bottom: 1px solid var(--color-accent);
  border-radius: 0;
}

details {
  border: 1px solid var(--color-accent);
  border-radius: 0.3rem;
  font-size: var(--size-step-0);
}

details[open] {
  padding-bottom: 1rem;
}

details p {
  font-size: var(--size-step-0);
  padding-inline: 1rem;
}

details a {
  font-size: var(--size-step-0);
  padding-inline: 1rem;
}

textarea {
  background: var(--color-dark);
  border-radius: 0.3rem;
  border: 1px solid var(--color-accent) !important;
  color: var(--color-light);
  height: 29rem;
  margin-block-start: $spacing;
  max-width: calc(100% - 45px);
  padding: $spacing;
  resize: vertical;
}

footer {
  padding-top: calc($spacing / 8);
  padding-top: 0 !important;
  text-align: center;
}
footer p {
  font-size: var(--size-step--1);
}

.helptext span {
  display: inline-block;
  padding: calc($spacing / 2);
}
.helptext > span a {
  margin-inline-end: 3rem;
  font-size: var(--size-step-0);
  border: 1px solid var(--color-accent);
  padding: calc($spacing / 8) calc($spacing / 3);
}

h1 {
  margin-bottom: 0;
  font-size: var(--size-step-2);
}

.title {
  display: inline-block;
}
.title:hover {
  outline: none;
}
.title:focus {
}
.title:focus-visible {
}
.title:focus:not(:focus-visible) {
}

.title > h1 {
  margin-top: 0;
}
.title > h1:hover {
  color: var(--color-accent);
}
.title > h1:focus {
}
.title > h1:focus-visible {
}
.title > h1:focus:not(:focus-visible) {
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: calc($spacing * 2);
  }
}
