<h2>Calllouts</h2>
<div class="callout-abstract">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-bug">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-danger">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-example">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-failure">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-fold">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-info">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-note">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-question">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-quote">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-success">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-tip">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-todo">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
<div class="callout-warning">
  What is that npx thing? npx ships with npm and lets you run locally installed
  tools. We’ll leave off the npx part for brevity throughout the rest of this
  file!
</div>
