<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5" />
    <title>Test | MiguelPimentel.do</title>
    <link rel="canonical" href="https://miguelpimentel.do/test/" />
    <meta name="database" content="look-for-the-bear-necessities" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Test" />
    <meta
      name="description"
      content="Markdown Showcase
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum neque eget nunc mattis eu sollicitudin enim tincidunt. Vestibulum l..." />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="MiguelPimentel.do" />
    <meta property="og:title" content="Test" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://miguelpimentel.do/test/" />
    <meta
      property="og:description"
      content="Markdown Showcase
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum neque eget nunc mattis eu sollicitudin enim tincidunt. Vestibulum l..." />
    <meta
      property="og:image"
      content="https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="https://miguelpimentel.do/test/" />
    <meta property="twitter:title" content="Test" />
    <meta
      property="twitter:description"
      content="Markdown Showcase
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum neque eget nunc mattis eu sollicitudin enim tincidunt. Vestibulum l..." />
    <meta
      property="twitter:image"
      content="https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg" />

    <!-- Microdata -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "article",
          "name": "Test",
          "url": "https://miguelpimentel.do/test/",
          "description": "Markdown Showcase
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum neque eget nunc mattis eu sollicitudin enim tincidunt. Vestibulum l...",
          "about": {
            "@type": "Test",
            "description": "Markdown Showcase
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum neque eget nunc mattis eu sollicitudin enim tincidunt. Vestibulum l..."
          }
        }
    </script>
    <link rel="stylesheet" href="/static/pygmentify/css/default.min.css" />
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E🦝%3C/text%3E%3C/svg%3E" />

    <!-- for home page -->
    <link rel="stylesheet" href="style.css" />
    <!-- for pages except home -->
    <link rel="stylesheet" href="../style.css" />
    <!-- <link rel="stylesheet" href="css/callouts.css" /> -->
    <script src="js/tabs.js"></script>
  </head>

  <body class="page test-page">
    <header>
      <a class="title" href="/">
        <h1>MiguelPimentel.do</h1>
      </a>
      <nav>
        <p>
          <a href="/about/">About</a> · <a href="/posts/">Blog</a> ·
          <a href="/notes/">Notes</a> · <a href="/journal/">Journal</a> ·
          <a href="/tutorials/">Tutorials</a>
        </p>
        <div class="progress__wrapper">
          <div class="progress__bar"></div>
        </div>
        <hr />
      </nav>
    </header>
    <main>
      
      {% if page %}
      {{ page.content | safe }}
      {% endif %}

      {% if section %}
      {{ section.content | safe }}
      {% endif %}
    
    </main>
    <footer style="padding: 25px 0">
      <span id="footer-directive">
        <hr />
        <p>
          <a href="/meta/">Meta</a> · <a href="/uses/">Uses</a> ·
          <a href="https://forgetfulnotes.com/" target="_blank">Garden</a>
          · <a href="/subscribe/">Subscribe</a> ·
          <a href="/feed/">RSS</a>
        </p>
      </span>

      <span> Powered by <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a> </span>
    </footer>
    <script src="js/topbar.js"></script>
    <script src="js/callouts.js"></script>
  </body>
</html>
